*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    scroll-behavior:smooth;
}
body{
    background:#050505;
    font-family:'Oswald',sans-serif;
    color:#d8c7a8;
}
.side-sec{
    position:fixed;
    top:0;
    left:0;
    width:260px;
    height:100vh;
    background:url("schedule-side-sec.png") center/cover no-repeat;
    border-right:1px solid rgba(255,217,0,.15);
    overflow:hidden;
}
.main-sec{
    margin-left:260px;
    width:calc(100% - 260px);
    min-height:100vh;
    background:url("shedule.png") center/cover no-repeat;
    position:relative;
    display: block;
}
.main-sec::before{
    content:"";
    position:absolute;
    inset:0;
    background:linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.82));
    display: block;
}
.navbar{
    left:260px;
    right:0;
    height:75px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 50px;
    border-bottom:1px solid rgba(255,255,255,.08);
}
.buttons{
    display:flex;
    align-items:center;
    gap:22px;
    justify-content: end;
}
.buttons a{
    text-decoration:none;
}
.btn{
    position:relative;
    background:none;
    border:none;
    color:#d6c3a0;
    font-size:18px;
    letter-spacing:2px;
    cursor:pointer;
    font-family:'Oswald',sans-serif;
    transition:.35s;
}

.btn:hover{
    color:#b32222;
}

.btn::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-8px;
    width:0;
    height:2px;
    background:#b32222;
    transition:.35s;
}

.btn:hover::after{
    width:100%;
}

.active{
    color:#b32222;
}

.active::after{
    width:100%;
}
.hero-sec{
    position:relative;
    z-index:10;
    height:100vh;
    display:flex;
}
.icons-sec{
    display:flex;
    align-items:center;
    gap:18px;
}
.icons-sec p{
    color:#b32222;
    letter-spacing:2px;
    font-size:18px;
    display:flex;
    align-items:center;
}
.icons-sec span{
    font-size:34px;
    margin-right:8px;
}
.icons-sec img{
    width:48px;
    transition:.35s;
}
.icons-sec img:hover{
    transform:translateY(-4px) scale(1.08);
    filter:drop-shadow(0 0 10px rgba(179,34,34,.8));
}
.schedule-buttons{    
    justify-content:space-between;
    background:#0d0d0d;
    border:1px solid rgba(255,217,0,.15);
    border-radius:6px;
    overflow:hidden;
    margin-left: 370px;
}
.hero-sec{
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    padding-left:120px;
    margin-top:-40px;
}
.hero-sec h1{
    font-size:110px;
    color:#efe4c9;
    letter-spacing:3px;
    margin-bottom:10px;
    font-family:'Caveat',cursive;
    font-weight:700;
    transition: .5s
}
.hero-sec h1:hover{
    transform: translateY(-10px);
    color: #c94545;
}
.hero-sec span{
    font-size:22px;
    color:#b32222;
    letter-spacing:2px;
    margin-bottom:35px;
}
.schedule-btn{
    border-right:1px solid rgba(255,217,0,.15);
    font-family:'Special Elite',cursive;
    font-size:24px;
    letter-spacing:2px;
    cursor:pointer;
    transition:.35s;
}
.hero-sec h5{
    color:#b32222;
    font-size:34px;
    letter-spacing:2px;
    margin-bottom:18px;
    font-weight:400;
}
.hero-sec p{
    font-family:'Marck Script',cursive;
    color:#d6c3a0;
    font-size:24px;
    line-height:45px;
}
.schedule-buttons{
    width:1050px;
    height:70px;
    display:flex;
}
.schedule-btn{
    flex:1;
    background:#0d0d0d;
    color:#e8dcc2;
    border:none;
}
.schedule-btn:last-child{
    border-right:none;
}
.schedule-btn:hover{
    background:#2a1d17;
    color:#fff;
}
.schedule-btn.active{
    background:#8e2323;
    color:#fff5df;
}
.tasks{
    margin-bottom: 10px;
}

.task{
    width:1050px;
    height:120px;
    display:flex;
    border-radius:6px;
    margin-left: 370px;
}
.task:hover{
    transform: translateY(-10px);
}
.time{
    width:120px;
    flex-shrink:0;
}
.task{
    padding:0 25px;
    box-sizing:border-box;
    transition: .5s;
    align-items:center;
    background:#0d0d0d;
    border:1px solid #4a3519;
}
.time h6{
    color:#b21d1d;
    font-size:34px;
    font-weight:400;
    line-height:1;
}
.time h5{
    color:#8b6d3c;
    font-size:24px;
    font-weight:400;
    margin-top:10px;
}
.logo{
    width:120px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-shrink:0;
    transition: .5s;
}
.logo:hover{
    transform: translateY(-10px);
}
.logo img{
    width:120px;
    object-fit:contain;
}
.text-sec{
    flex:1;
    margin-left:25px;
}
.text-sec h5{
    color:#d6c1a0;
    font-size:34px;
    margin-bottom:8px;
    font-weight: 500;
}
.text-sec p{
    color:#9a8b76;
    font-size:21px;
    line-height:1.4;
    font-weight: lighter;
}
.onair-sec{
    width:150px;
    display:flex;
    justify-content:flex-end;
}
.onair-sec h6{
    color:#b21d1d;
    border:1px solid #6f1b1b;
    padding:12px 22px;
    border-radius:4px;
    font-size:18px;
    font-weight:500;
}
.upnext-sec h6{
    color: goldenrod;
    border:1px solid goldenrod;
    padding:12px 22px;
    border-radius:4px;
    font-size:18px;
    font-weight:500;
}
.upnext-sec{
    width:150px;
    display:flex;
    justify-content:flex-end;
}
.join-us{    
    display:flex;
    border:1px solid #4e3715;
    border-radius:10px;
    overflow:hidden;
    transition: .7s;
}
.join-us{
    width:1050px;
    height:520px;
    margin:60px auto;
    margin-left: 370px;
}
.join-us:hover{
    transform: translateY(-10px);
}
.join-us-text{
    justify-content:center;
    align-items:center;
    text-align:center;
    position:relative;
    padding:40px;
    box-sizing:border-box;
}
.join-us-text{
    width:40%;
    background:url("papertex.png") center/cover;
    display:flex;
    flex-direction:column;
}

.join-us-text img{
    width:80px;
    transition: .7s;
}
.join-us-text img:hover{
    transform: translateY(-5px);
}
.join-us-text h2{
    margin-top:25px;
    font-size:54px;
    color:#111;
    line-height:1.2;
}

.divider{
    display:flex;
    align-items:center;
    gap:10px;
    color:#8a2323;
    margin:25px 0;
}

.divider span{
    width:90px;
    height:1px;
    background:#8a2323;
}

.join-us-text p{
    width:85%;
    font-size:24px;
    line-height:1.8;
    color:#222;
}

.stamp{
    position:absolute;
    width:150px;
    right:20px;
    bottom:20px;
    opacity:.45;
}

.join-us-inputs{
    width:60%;
    background:url("join-us-inputs.png") center/cover;
    padding:40px;
    box-sizing:border-box;
}

.join-us-inputs h2{
    color:#8d2424;
    font-size:40px;
    margin-bottom:35px;
}
.join-us-inputs button{
    color:#fff;
    font-size:28px;
    cursor:pointer;
    margin-top:10px;
    transition: .6s;
}
.join-us-inputs input,
.join-us-inputs select{
    width:100%;
    height:60px;
    margin-bottom:25px;
    background:transparent;
    border:1px solid #4d4027;
    color:#d6c3a3;
    padding:0 20px;
    font-size:20px;
}

.join-us-inputs button{
    width:100%;
    height:65px;
    border:none;
    background:#962b2b;
}
.join-us-inputs button:hover{
    transform: translateY(-10px);
    background:#de7979;

}
.privacy{
    text-align:center;
    color:#a79a86;
    margin-top:25px;
}